@font-face {
    font-family: BebasNeueRegular;
    src: url('../fonts/BebasNeue Regular.otf');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/Roboto-Regular.ttf');
}

body {
    background-color: cadetblue;
    font-family: BebasNeueRegular;
}

h1 {
    font-size: 4em;
    line-height: 1;
    margin: 0;
}

p {
    font-family: Roboto-Regular;
    font-kerning: 6px;
    text-align: center;
    text-align: justify;
}

.intro {
    float: left;
    width: 400px;
    height: 500px;
    padding-left: 30px;
}

.person {
    float: right;   
}

.button {
    width: 500px;
    padding-top: 20px;
    float: left;
}

.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: BebasNeueRegular;
    color: #262626;
    font-size: 20px;
    background: transparent;
    padding: 10px 20px 10px 20px;
    border: solid #262626 2px;
    outline: none;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.btn:hover {
    background-color: #437b7d;   
}

.quote {
    font-size: 6em;
    text-align: right;
    width: 500px;
    height: 500px;
    float: right;
    padding-top: 50px;
    padding-right: 50px;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity: 0;
    -webkit-animation:fadeIn ease-in 1;  
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration: 0.9s;
    -moz-animation-duration: 0.9s;
    animation-duration: 0.9s;
}

.fade-in.one {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.fade-in.two {
    -webkit-animation-delay: 0.45s;
    -moz-animation-delay: 0.45s;
    animation-delay: 0.45s;
}

.fade-in.three {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fade-in.four {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}
